NEXT_PUBLIC_BASE_URL=http://localhost:3000

# db
DATABASE_URL="file:./dev.db"

# next-auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="some-SeCrEt"
# github
GITHUB_ID=""
GITHUB_SECRET=""
# google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""